#dogHouseContainer {
  display: flex;
  height: 175px;
  max-width: 600px;
  justify-content: center;
}

#dogHouseBtn {
  background-color: transparent;
  border: none;
  padding: 0;
}

#dogHouse {
  height: 120px;
  width: 120px;
}

#dogImage {
  margin: 4px 4px 4px 0;
  max-width: 500px;
  max-height: 175px;
}


@media (max-width: 767px) {
  #dogHouseContainer {
    max-width: 250px;
  }
}