#dogHouseContainer {
  display: flex;
  justify-content: center;
  width: 400px;
}

#dogHouseBtn {
  background-color: transparent;
  border: none;
  padding: 0;
}

#dogHouse {
  height: 120px;
  width: 120px;
}

#dogImage {
  margin: 4px 4px 4px 0;
  max-width: 390px;
  max-height: 216px;
}

@media (max-width: 767px) {
  #dogHouseContainer {
    max-width: 250px;
  }
}