#dogHouseContainer {
  display: flex;
  flex: 1;
  justify-content: center;
}

#dogHouseBtn {
  background-color: transparent;
  border: none;
  padding: 0;
}

#dogHouse {
  height: 120px;
  width: 120px;
}

#dogImage {
  margin: 4px 4px 4px 0;
  max-width: 200px;
  max-height: 200px;
}

@media (max-width: 767px) {
  #dogHouseContainer {
    max-width: 250px;
  }
}
