.container {
  display: flex;
  flex-direction: column;
  position: relative;
  background: #FFFFFF;
  border-radius: 8px;
  height: 100%;
  width: 100%;
  top: 75px;
  overflow-y: hidden;
}

.bottomSection {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10;
}

#canvasAndDogHouseContainer {
  background-color: #0092d3;
  display: flex;
  height: 175px;
}
