.container {
  display: flex;
  flex-direction: column;
  position: relative;
  background: #FFFFFF;
  border-radius: 8px;
  height: 100%;
  width: 100%;
  top: 75px;
  overflow-y: hidden;
}

.bottomSection {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10;
}

#canvasAndDogHouseContainer {
  background-color: rgba(50, 146, 210, 0.8);
  display: flex;
  align-items: center;
  height: 230px;
  padding: 0 100px;
}

@media (max-width: 767px) {
  #canvasAndDogHouseContainer {
    padding: 0 20px;
  }
}
