.canvas-container {
  width: 100%;
  flex: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}

#msg-form {
  width: 80%;
  margin-right: 20px;
  max-width: 900px;
}

.recipient-input-container {
  flex: 2;
  margin-right: 50px;
}

.input {
  border: none;
  border-radius: 3px;
  padding: 10px;
  font-size: 18px;
}

.msg-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

#message-body {
  width: 100%;
  font-family: "Arial";
  height: 120px;
}

.color-input-container {
  flex: 1;
  margin-right: 50px;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.sendButton {
  border: none;
  border-radius: 3px;
  margin-top: 7px;
  padding: 12px 40px;
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  background: linear-gradient(
    270deg,
    #5f2c82,
    #ee38bf,
    #ff5858,
    #ffff33,
    #2cd097,
    #1b5ece,
    #5f2c82,
    #ee38bf,
    #ff5858
  );
  background-size: 400% 400%;
  animation: AnimationName 5s ease infinite;
  cursor: pointer;
}

.errorMessage {
  margin: 0 0 8px 16px;
  color: rgb(10, 4, 61);
}

.flex-column {
  display: flex;
  flex-direction: column;
}

@keyframes AnimationName {
  0% {
    background-position: 0% center;
  }
  100% {
    background-position: 100% center;
  }
}

