.canvas-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

#msg-form {
  width: 50%;
  margin-right: 20px;
}

.msg-options {
  margin-bottom: 10px;
}

#recipient-input {
  width: 250px;
  margin-right: 8px;
}

.input {
  border: none;
  border-radius: 3px;
  padding: 10px;
  font-size: 18px;
  opacity: 1;
}

.msg-options {
  display: flex;
  justify-content: space-between;
}

#message-body {
  width: 100%;
  font-family: "Arial";
}

#color-input {
  width: 125px;
}

input:focus, textarea:focus, select:focus{
  outline: none;
}

.sendButton {
  border: none;
  padding: 20px 30px;
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 3px;
	background: linear-gradient(270deg, #5f2c82, #ee38bf, #ff5858, #FFFF33, #2cd097, #1b5ece, #5f2c82, #ee38bf, #ff5858);
	background-size: 400% 400%;
  animation: AnimationName 5s ease infinite;
  cursor: pointer;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

@keyframes AnimationName {
	0%   { background-position: 0% center; }
	100% { background-position: 100% center; }
}
